  @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border box;
	font-family: 'Montserrat', sans-serif;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 20px;
}
nav{
	width: 100%;
	position: sticky !important;
	left: 0;
	bottom: 0;
	box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.5);
	z-index: 10;
}
.navbar-brand{
	font-weight: 500;
}
.nav-link{
	color: white !important;
	margin-left: 15px;
	margin-right: 10px;
}
section{
	width: 100%;
	min-height: 100vh;
}

/* Home section */

#home{
	width: 100%;
	height: 100vh;
	background: linear-gradient(rgba(34, 2, 99, 0.5),rgba(0,0,0,.6));
	background-size: cover;
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
#home p{
	position: absolute;
	font-size: 50px;
	opacity: 0;
	animation: text 3s ease-in-out;
}
#home p:nth-child(1){
	animation-delay: 0s;
}
#home p:nth-child(2){
	animation-delay: 3s;
}
#home p:nth-child(3){
	animation-delay: 6s;
}
@keyframes text{
	50%{
		opacity: 1;
	}
	100%{
		opacity: 1;
	}
}
#home span{
	color: rgba(248, 244, 244, 0.932);
	font-size: 50px;
}
@media screen and (max-width:576px){
	#home p{
		font-size: 30px;
	}
}

/* about */

#about{
	display: flex;
	justify-content: center;
	align-items: center;
	background: #ca8a9e;
}
.content{
	width: 800px;
	height: 900px;
	background: #993d5a;
	border-radius: 5%;
	position: relative;
	box-shadow: 0px 05px 12px rgba(0,0,0,.6);
	margin-top: 4%;
	margin-bottom: 3%;
	padding: 60px;
	box-sizing: border-box;
	color: black;
}
.content p{
    position: absolute;
	padding-bottom: 0;
	margin-right: 7%;
	margin-left: 4%;
	top: 15%;
	right: 7%;
	left: 7%;
	font-size: 30px;
	line: height 1.3em;
	margin-top: 0px;
	overflow-y: auto; 
	margin-bottom: 7%;
	margin-right: 7%;
	margin-left: 7%;
}
.content h1{
	line-height: 1.5;
	margin-right: 7%;
	margin-left: 7%;
	font-family: 'Times New Roman', Times, serif;
	font-style: bold;
	font-weight: 540;
}
@media screen and (max-width:576px){
	.content{
	width: 800px;
	background: #993d5a;
	border-radius: 10%;
	position: relative;
	box-shadow: 0px 05px 12px rgba(0,0,0,.6);
	margin-top: 4%;
	margin-bottom: 4%;
	padding: 40px;
	box-sizing: border-box;
	color: black;
}
	.content p{
		position: relative;
		bottom: 7%;
		top: 0%;
		right: 7%;
		left: 7%;
		font-size: 22px;
		line: height 1.5em;
		width: 400px;
		max-height: min-content;
		max-width: fit-content;
}
}

/* skill */
 
#skills{
	padding-top: 5%;
	background: rgba(0,0,0,.4) ;
}

#skills .container{
	margin-top: 6%;
	margin-bottom: 6%;
}
label{
	font-size: 30px;
}
.progress{
	height: 30px !important;
	box-shadow: 2px 4px 4px gray;
}
 /* skills */

 #projects{
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 5%;
	padding-bottom: 5%;
	background: rgb(240, 205, 240);
 }
 .carousel{
	width: 80%;
	height: 100vh;
	background-color: violet;
	box-shadow: 10px 20px 10px rgba(0,0,0,.4);
 }
 iframe{
	width: 100%;
	height: 100vh;
 }
 @media screen and (max-width:576px){
	.carousel{
		width:80%;
		height: 100vh;
		box-shadow: 5px 10px 5px rgba(0,0,0,.4);
	}
	iframe{
		width: 100%;
		height: 100vh;
	}
 }

 /*contact*/

 #contact{
	padding-top: 5%;
	padding-bottom: 1%;
	background-color: rgb(175, 171, 171);
 }
#contact iframe{
	box-shadow: 10px 20px 10px rgba(0,0,0,.4);
}
